* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #f5f5f5;
    padding: 20px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    color: orange;
}

header button {
    padding: 5px 15px;
    background-color: #e74c3c;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

header button:hover {
    background-color: #c0392b;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section h2 {
    margin-bottom: 15px;
    color: orange;
}

section input {
    display: block;
    margin: 5px 0;
    padding: 7px 10px;
    width: 100%;
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 7px 15px;
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}

button:hover {
    background-color: rgb(211, 141, 10);
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
    color: black;

}

.item {
    background-color: white;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.btn-login{
    margin-bottom: 20px;
}

.cadastrar-link{
    text-decoration: none;
    color: orange;
}

.btn-signup{
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        margin-bottom: 10px;
    }

    section input {
        max-width: 100%;
    }

    .dashboard {
        grid-template-columns: 1fr;
    }

}